#admin {
    position: fixed;
    padding-top: 10rem;
    background: linear-gradient(to bottom, #37546a, #feb47b);
    color: #000000;
    width: 100%;
    height: 100vh;
}

#admin .row {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
}

#admin .card:hover {
    scale: 1.05;
    transition: 0.5s ease;
    cursor: pointer;
}

#mdp {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #37546a, #feb47b);
    z-index: 1000;
    position: fixed;
}