body{
    background-image: url('../img/wallpaper.webp');
    background-size: cover ;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    
}


